{% extends "base.html" %}
<!-- {% load static %} -->

{% block title %}
Jiocoders Tweets
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to the Tweeter App</h1>

{% if user.is_authenticated %}
<p class="text mt-4">Logged in as: {{ user.username }}</p>
{% else %}
<p class="text mt-4">You are not logged in.</p>
{% endif %}

<a href="{% url 'tweet_list' %}" class="btn btn-primary">View Tweets</a>
<a href="{% url 'tweet_create' %}" class="btn btn-success">Create a Tweet</a>
{% if tweets %}
<div class="container row gap-3 mt-4">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.content }}</p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm float-right">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm float-right">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center mt-4">No tweets available.</p>
{% endif %}

{% endblock %}

<!-- {% block scripts %} -->
<!-- {% endblock %} -->